services:
  arma3-mods:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVER_NAME: base
        UID: ${HOST_UID}
        GID: ${HOST_GID}
    image: arma3-mods:latest
    container_name: arma3-mods
    network_mode: host
    volumes:
    - /home/arma3server/mods:/home/arma3server/Steam/steamapps/workshop/content/107410
      # /home/arma3server/Steam/steamapps/workshop/content/107410/
      # /home/arma3server/.local/share/Steam/steamapps/workshop/content/107410
    restart: unless-stopped
    secrets:
      - steam_user_password
      - steam_user
      - steam_password
secrets:
  steam_user_password:
    file: ./secrets/secrets-common
  steam_user:
    file: ./secrets/steam_user
  steam_password:
    file: ./secrets/steam_password